{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crawl</title>
    <style>
        .crawl {
            width: 30%;

        }
    </style>
</head>
<body>
<div>
     <form class="adm" method='get' action="{% url 'back' %}">
         <button class="regi"> Back</button>
            {% csrf_token %}
        </form>
        </div>
    <h4>
        Start crawling from: <a href='http://www.e-licitatie.ro/pub/notices/contract-notices/list/2/1'>www.e-licitatie.ro</a>
    </h4>

    <div>

     <form class="crawl" method='post' action="{% url 'logged' %}">
                    {{ form.as_p }}
                    <button class="back">1. Set date period </button>
                    {% csrf_token %}
                </form>

    </div>

    <div>

     <form class="crawl" method='get' action="{% url 'crawl' %}">
                    <button class="back">2. Crawl</button>
                    {% csrf_token %}
                </form>

    </div>
<div>
        <form class="app" method='get' action="{% url 'filter' %}">
         <button class="regi">3. See the result</button>
            {% csrf_token %}

        </form>
    </div>


    {% if user.is_superuser %}
    <div>

        <form class="adm" method='get' action="{% url 'admins' %}">
         <button class="regi"> for admins</button>
            {% csrf_token %}
        </form>
        </div>
    {% endif %}



</body>
</html>